@import "../../styles.scss";

.main {
  color: red;
  margin-left: 180px;
  margin-top: 65px;
  padding: 0 10px;
  background-color: $dark-purple-background;
  height: 1900px;
  border-style: solid;
  border-color: $border-color;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
